


  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Horizon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          @{{ request.user }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'conversation:inbox' %}">Inbox</a></li>
            <li><a class="dropdown-item btn btn-sm btn-outline-primary" href="{% url 'core:new-item' %}">Add Product</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn btn-sm btn-outline-warning" href="{% url 'core:logout' %}">Logout</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>

      {% else %}
        <li class="nav-item">
          <a class="nav-link active btn btn-sm btn-outline-success" aria-current="page" href="{% url 'core:login' %}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:signup' %}">Signup</a>
        </li>

      {% endif %}

      </ul>
      <form class="d-flex" role="search" action="{% url 'core:search' %}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Find items" aria-label="Search" name="query" value="{{ query }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>




      <div class="container mt-5">
        <h1 class="text-center mb-4">Horizon Real Estate Listings</h1>
        <div class="row">
            <!-- Property Card -->
            {% for product in products %}

            <div class="col-md-3 mb-4" id="property-card">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="Property Image">
                    <div class="card-body">
                        <h5 class="card-title">Beautiful Family Home</h5>
                        <p class="card-text"><strong>Location:</strong> 123 Main St, City</p>
                        <p class="card-text"><strong>Price:</strong>$500,000</p>
                        <p class="card-text"><strong>Bedrooms:</strong> 4 <br> <strong>Bathrooms:</strong> 3</p>
                        <a href="{% url 'core:detail' product.id %}" class="btn btn-primary btn-block">View Details</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>